In [1]:
import sqlite3

conn = sqlite3.connect('test.db')

print "Opened database successfully";

Opened database successfully

In [2]:
import sqlite3

conn = sqlite3.connect('test.db')
print "Opened database successfully";

conn.execute('''DROP TABLE IF EXISTS TOPIC;''')
conn.execute('''CREATE TABLE TOPIC
       (TOPIC_ID INT PRIMARY KEY     NOT NULL,
       WORD1        CHAR(50),
       WORD2        CHAR(50),
       WORD3        CHAR(50),
       WORD4        CHAR(50),
       WORD5        CHAR(50),
       WORD6        CHAR(50),
       WORD7        CHAR(50),
       WORD8        CHAR(50),
       WORD9        CHAR(50),
       WORD10        CHAR(50));''')
print "Table created successfully";

conn.close()

Opened database successfully
Table created successfully

In [54]:
import numpy as np
import pandas as pd

In [ ]:
topic = pd.read_csv("/Users/lorraine/Uchicago/2015_Summer/CI/Tool/JGibbLDA-v.1.0/abstracts/model-final.twords",header = None)

In [55]:
import sqlite3

conn = sqlite3.connect('test.db')
print "Opened database successfully";

word = []
for i in range(topic.shape[0]):
    s = str(topic[i:i+1])
    s = s.strip()
    if(i % 11== 0):
        topicid = s[s.find("th")-1:s.find("th")] 
    else:
        s = s.split("\n")[1].split("\\t")[1].split(" ")[0]
        word.append(s)
    if((i % 11 == 10) & (i!=0)):
        #print i
        #print word
        conn.execute("INSERT INTO TOPIC VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
             (topicid, word[0], word[1], word[2], word[3], word[4], word[5], word[6], word[7],  word[8], word[9]))
        word = []

conn.commit()
print "Records created successfully";
conn.close()

Opened database successfully
Records created successfully

In [100]:
import sqlite3

conn = sqlite3.connect('recomd.db')

print "Opened database successfully";

Opened database successfully

In [101]:
import sqlite3

conn = sqlite3.connect('recomd.db')
print "Opened database successfully";

conn.execute('''DROP TABLE IF EXISTS RECMDLIST;''')
conn.execute('''CREATE TABLE RECMDLIST
       (ID INT PRIMARY KEY     NOT NULL,
       TARGET_PERSON     CHAR(50),
       PERSON1        CHAR(50),
       PERSON2        CHAR(50),
       PERSON3        CHAR(50),
       PERSON4        CHAR(50),
       PERSON5        CHAR(50),
       PERSON6        CHAR(50),
       PERSON7        CHAR(50),
       PERSON8        CHAR(50),
       PERSON9        CHAR(50),
       PERSON10        CHAR(50));''')
print "Table created successfully";

conn.close()

Opened database successfully
Table created successfully

In [102]:
import os

In [103]:
def iter_docs(topdir):
    result = []
    for fn in os.listdir(topdir):
        if(fn.find('.txt')!=-1):
            fin = open(os.path.join(topdir, fn), 'rb')
            text = fin.read()
            #print fn
            #print text
            array = text.split('\n')
            #print array
            result.append(array)
            fin.close()
    return result

In [104]:
result = iter_docs("/Users/lorraine/Uchicago/2015_Summer/CI/Recommendation/RecommendationResult/TFModelResult")
print result[26]

['Torbert, Chris', 'Chandler, Cyndy', 'Peterson, Fox', 'Hou, Chung-Yi', 'Ramdeen, Sarah', 'Herbert, Aaron', 'Cosic, Sandra', 'Walter, Jeff', 'Scott, Soren', 'Stott, Don', '']

In [105]:
import sqlite3

conn = sqlite3.connect('recomd.db')
print "Opened database successfully";

n = 1 
#print result[30]
for i in range(len(result)):
    #print result[i]
    #print n
    conn.execute("INSERT INTO RECMDLIST VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
             (n, result[i][0], result[i][1], result[i][2], result[i][3], result[i][4], result[i][5], result[i][6], result[i][7],  result[i][8], result[i][9], result[i][10]))
    n = n+1

conn.commit()
print "Records created successfully";
conn.close()

Opened database successfully
Records created successfully